@model IEnumerable<CompleteExampleApp.Models.Entities.Organizer>
@{
    ViewData["Title"] = "Organizers";
}

<h2>Organizers</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>User ID</th>
            <th>Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.UserId</td>
                <td>@o.Password</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@o.UserId">Edit</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@o.UserId">Details</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@o.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
